{% extends 'html/base.html' %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-7 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Delete User</h3>
			<form method="post">
				{% csrf_token %}
				<h3>Are You sure you need to delete {{j.username}}?</h3>
				<div class="row">
					<a href="{% url 'v' %}" class="btn btn-outline-danger col-md mx-2">No</a>
					<input type="submit" value="Confirm" class="form-control col-md btn btn-outline-success mx-2">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}